* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  background-color: pink;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

header {
  background-color: purple;
  border: 2px yellow solid;
  padding: 32px;
  min-width: 100%;
}

header a {
  color: yellow;
  text-decoration: none;
}

h1 {
  color: yellow;
}

.lennart {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  min-width: 100%;
  background-color: purple;
  border-top: 2px yellow solid;
  color: yellow;
  padding-top: 32px;
  padding-bottom: 16px;
  text-align: center;
}

.lennart a {
  border: 3px solid yellow;
  text-decoration: none;
  padding: 10px;
  border-radius: 19px;
}
